<!-- Nav tabs -->
<!-- <ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="language active"><a href="#language" role="tab" data-toggle="tab">Languages</a></li>
  <li role="presentation" class="gender"><a href="#gender" role="tab" data-toggle="tab">Gender</a></li>
  <li role="presentation" class="dayhour"><a href="#dayhour" role="tab" data-toggle="tab">Day & Hour</a></li>
</ul> -->
<!-- Tab panes -->
<h1 class="page-header">Analysis - <span id="analysis-title">Languages</span></h1>
<div class="tab-content">
  <!-- <div role="tabpanel" class="tab-pane active" id="home">...</div>
  <div role="tabpanel" class="tab-pane" id="profile">...</div>
  <div role="tabpanel" class="tab-pane" id="messages">...</div>
  <div role="tabpanel" class="tab-pane" id="settings">...</div> -->
</div>