<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The home page of Rich Geeks">
    <meta name="author" content="Yichen Wang">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
    <link href="/static/css/basic.css" rel="stylesheet">
    {% block css %}{% endblock %}
<!-- NAVBAR
    ================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-default navbar-fixed-top navbar-shrink" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'home' %}">
                    Rich Geeks
                  </a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="home-nav-btn">
                      <a href="{% url 'home' %}">
                        <span class="glyphicon glyphicon-home">
                        </span>
                        Geek's Bridge
                      </a>
                    </li>
                    <li class="market-nav-btn">
                      <a href="/market">
                        <span class="glyphicon glyphicon-screenshot">
                        </span>
                        Geek's Market
                      </a>
                    </li>
                    <li class="message-nav-btn">
                      <a href="/message">
                        <span class="glyphicon glyphicon-envelope">
                        </span>
                        Message
                      </a>
                    </li>
                    <li class="me-nav-btn">
                      <a href="{% url 'profile' user.id %}">
                        <span class="glyphicon glyphicon-user">
                        </span>
                        Me
                      </a>
                    </li>
                    <li class="match-nav-btn">
                      <a href="/match">
                        <span class="glyphicon glyphicon-magnet">
                        </span>
                        Match
                      </a>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <form class="navbar-form navbar-right search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Find project" size="8">
                        </div>
                        <button type="submit" class="btn btn-default btn-circle">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </form>
                    </li>
                    <li>
                      <a href="#" data-toggle="modal" data-target="#loginModal">
                        Hi, {{ user.username }}
                      </a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog">
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'profile' user.id %}">My Profile</a></li>
                                <li><a href="">Edit Profile</a></li>
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                                <li class="divider"></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </span>
                      </a>
                    </li>              
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container content"> -->
        {% block content %}{% endblock %}
        <!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>