{% extends "base-misc.html" %}

{% block title %}Rich Geeks - Change Password{% endblock %}
{% block content %}
<h2>Thank you for confirming your email address.
	Please input your new password!</h2>

{% for key, error in form.errors.items %}
<p style="color: red">
	{{ error.as_text|cut:"* " }}
</p>
{% endfor %}
<form method="post" action="{% url 'reset_password' id token %}">
	<p>
		{{ form.password1 }}
	</p>
	<p>
		{{ form.password2 }}
	</p>
	{% csrf_token %}
	<button type="submit" class="btn btn-primary save">
		<span class="glyphicon glyphicon-ok"></span>
		<span style="padding-left: 5px;">Reset Password</span>
	</button>
</form>
{% endblock %}