{% extends "base-misc.html" %}

{% block title %}Rich Geeks -- Forget password{% endblock %}
{% block content %}
<h2>Find your Rich Geeks account</h2>
{% if form %}
<p>
	Please input your e-mail address to find your Grumblr account
</p>
{% for key, error in form.errors.items %}
<p style="color: red">
	{{ error.as_text|cut:"* " }}
</p>
{% endfor %}
<form role="form" method="post" action="{% url 'forget_password' %}">
	{{ form.email }}
	<p></p>
	{% csrf_token %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% elif email %}
<p>
	A confirmation email has been sent to {{email}}.  Please click the link
	in that email to confirm your email address and change your password.
</p>
{% endif %}
{% endblock %}