{% extends "base.html" %}
{% block title %}Rich Geeks{% endblock %}

{% block css %}
<link href="/static/css/home.css" rel="stylesheet">
<script src="/static/js/modernizr.custom.js"></script>
{% endblock %}

{% block content %}
<div class="container content">
<div class="col-md-8" id="statuses">
	<div class="poststatus">
		<div style="width:120px;float: left;">
			<img src="{% url 'avatar' user.id %}" alt="avatar" class="img-circle">
		</div>
		<div style="margin-left:120px;">
			<nav class="say">
			 <a href="#NewGrumbl" role="tab" data-toggle="tab" class="active">Say something</a>
			 <a href="#NewPhoto" role="tab" data-toggle="tab" >Post a picture</a>
			 <a href="/project/post">Post project</a>
			</nav>
  	        <div class="tab-content" style="margin-top:10px">
  	          <div class="tab-pane active" id="NewGrumbl">
  	            <form enctype="multipart/form-data" role="form" action="/news_feed/post" method="post">
  	              <div class="row">
  	                <div class="col-xs-10">
  	                  <textarea class="form-control" rows="2" name="news_feed_text" id="grumblContent" placeholder="What's on your mind?" style="border-color:#269abc" required></textarea>
  	                </div>
  	                <div class="col-xs-2" style="margin-left:-20px; margin-top:20px">
  	                  <button type="submit" class="btn btn-primary">Post</button>
  	                </div>
  	              </div>
  	              {% csrf_token %}
  	            </form>
  	          </div>
  	          <div class="tab-pane" id="NewPhoto">
  	            <form enctype="multipart/form-data" role="form" action="/news_feed/post" method="post">
  	              <div class="row">
  	                <div class="col-xs-10">
  	                  <textarea class="form-control" rows="2" name="news_feed_text" id="grumblContent" placeholder="What's on your mind?" style="border-color:#269abc" required></textarea>
  	                </div>
  	                <div class="col-xs-2" style="margin-left:-20px">
  	                  <input name="image" type="file">
  	                  <button type="submit" class="btn btn-primary btn-sm" style="margin-top:3px">Post</button>
  	                </div>
  	              </div>
  	              {% csrf_token %}
  	            </form>
  	          </div>
  	        </div>
  	      </div>
	</div>

	<div class="status-content">
		<ul class="media-list">
		{% for news_feed in news_feeds %}
			{% if news_feed.news_type == "New Project" %}
				{% include 'news_feed/news_new_project.html' with news_feed=news_feed %}
			{% endif %}
			{% if news_feed.news_type == "Apply Project" %}
				{% include 'news_feed/news_apply_project.html' with news_feed=news_feed %}
			{% endif %}
			{% if news_feed.news_type == "Assigning Project" %}
				{% include 'news_feed/news_assigning_project.html' with news_feed=news_feed %}
			{% endif %}
			{% if news_feed.news_type == "Assigned Project" %}
				{% include 'news_feed/news_assigned_project.html' with news_feed=news_feed %}
			{% endif %}
			{% if news_feed.news_type == "Text And Photo" %}
				{% include 'news_feed/news_text_and_photo.html' with news_feed=news_feed %}
			{% endif %}
			{% if news_feed.news_type == "Project Complete" %}
				{% include 'news_feed/news_finish_project.html' with news_feed=news_feed %}
			{% endif %}
		{% endfor %}
		</ul>

	</div>

</div>
<div class="col-md-4">
	<div class="jumbotron">
		<h1>Hello, world!</h1>
	</div>
	<div class="panel panel-default ongoing-projects">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="badge">5</span>
				Ongoing projects you joined
			</h3>
		</div>
		<div class="list-group">
			<a href="#" class="list-group-item">
				Rich Geeks
			</a>
			<a href="#" class="list-group-item">
				Map-Reduce Facility
			</a>
		</div>
	</div>
	<div class="panel panel-default finished-projects">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="badge">5</span>
				Finished projects you contributed to
			</h3>
		</div>
		<div class="list-group">
			<a href="#" class="list-group-item">
				Rich Geeks
			</a>
			<a href="#" class="list-group-item">
				Map-Reduce Facility
			</a>
		</div>
	</div>
	<div class="panel panel-default owned-projects">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="badge">5</span>
				Owned projects
			</h3>
		</div>
		<div id="grid" class="list-group grid clearfix">
			<li class="list-group-item grid__item">Rich Geeks</li>
			<li class="list-group-item grid__item">Map-Reduce Facility</li>
		</div>
	</div>
</div>
</div>
<div id="drop-area" class="drop-area">
	<div class="drop-area__item"></div>
</div>
{% endblock %}
{% block js%}
<script src="/static/js/draggabilly.pkgd.min.js"></script>
<script src="/static/js/dragdrop.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/news_feed.js"></script>
<script>
			(function() {
				var body = document.body,
					dropArea = document.getElementById( 'drop-area' ),
					droppableArr = [], dropAreaTimeout;

				// initialize droppables
				[].slice.call( document.querySelectorAll( '#drop-area .drop-area__item' )).forEach( function( el ) {
					droppableArr.push( new Droppable( el, {
						onDrop : function( instance, draggableEl ) {
							// show checkmark inside the droppabe element
							classie.add( instance.el, 'drop-feedback' );
							clearTimeout( instance.checkmarkTimeout );
							instance.checkmarkTimeout = setTimeout( function() { 
								classie.remove( instance.el, 'drop-feedback' );
							}, 800 );
							// ...
						}
					} ) );
				} );

				// initialize draggable(s)
				[].slice.call(document.querySelectorAll( '#grid .grid__item' )).forEach( function( el ) {
					new Draggable( el, droppableArr, {
						draggabilly : { containment: document.body },
						onStart : function() {
							// add class 'drag-active' to body
							classie.add( body, 'drag-active' );
							// clear timeout: dropAreaTimeout (toggle drop area)
							clearTimeout( dropAreaTimeout );
							// show dropArea
							classie.add( dropArea, 'show' );
						},
						onEnd : function( wasDropped ) {
							var afterDropFn = function() {
								// hide dropArea
								classie.remove( dropArea, 'show' );
								// remove class 'drag-active' from body
								classie.remove( body, 'drag-active' );
							};

							if( !wasDropped ) {
								afterDropFn();
							}
							else {
								// after some time hide drop area and remove class 'drag-active' from body
								clearTimeout( dropAreaTimeout );
								dropAreaTimeout = setTimeout( afterDropFn, 400 );
							}
						}
					} );
				} );
			})();
		</script>
{% endblock %}
