{% extends "base.html" %}
{% block title %}Rich Geeks{% endblock %}

{% block css %}
<link href="/static/css/project.css" rel="stylesheet">
{% endblock %}

{% block content %}
      <div class="container">
        <div class="col-md-10">
            <h1>Post Project</h1>
            <form role="form" action="/project/post" method="post">
                <div class="form-group">
                    <label for="project-title">Project Title</label>
                    <input type="text" class="form-control" id="project-title" name="title" placeholder="Project Title">
                </div>
                <div class="form-group">
                    <label for="project-des">Project Description</label>
                    <textarea type="text" class="form-control" id="project-des" name="description" placeholder="Project Description"></textarea>
                </div>
                <label>
                    Project Language&nbsp;
                </label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="Java">Java</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="Python">Python</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="C++">C++</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="C">C</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="C#">C#</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="Objective-C">Objective-C</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="Shell">Shell</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="Ruby">Ruby</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="Perl">Perl</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="JavaScript">JavaScript</label>
                <label class="checkbox-inline"><input type="checkbox" name="languages" value="CSS">CSS</label>
                <div class="form-group">
                    <label for="Object-requirement">Object Detailed Document Input</label>
                    <input type="file" id="Object-requirement" name="description_file">
                    <p class="help-block">This file is optional.</p>
                </div>
                <div class="form-group">
                    <label for="project-budget">Project Budget</label>
                    <input type="number" class="form-control" id="project-budget" name="budget" placeholder="0.00">
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}