{% extends "base.html" %}
{% block title %}Rich Geeks - {{ profile_user.username }}{% endblock %}

{% block css %}
<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="profile-main" user={{ profile.user.id }}>
        <div class="col-md-2" id="profile-left">
            <div class="row" id="face-row">
                <img class="media-object" id="user-face" src="{% url 'avatar' user.id %}" alt="Profile Image">
            </div>
            <div class="row" id="face-edit-row">
            	{% if user == profile.user %}
                <a href="{% url 'edit' %}">
                <button type="button" class="btn btn-info" id="edit">Edit</button>
                </a>
                {% elif friend %}
                <button type="button" class="btn btn-info" id="friend">Unfriend</button>
                {% else %}
                <button type="button" class="btn btn-info" id="friend">Add Friend</button>
                {% endif %}
            </div>
            <ul class="nav nav-pills nav-stacked" role="tablist" id="function-menu">
                <li role="presentation" class="overview active">
                    <a href="{% url 'profile' profile_user.id %}">Overview</a>
                </li>
                <li role="presentation" class="analysis">
                    <a href="#">Analysis</a>
                </li>
                <li role="presentation" class="project">
                    <a href="#">Project</a>
                </li>
                <li role="presentation" class="friends">
                    <a href="#">Friends</a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-stacked" role="tablist" id="profile-menu">
                <li role="presentation">
                    <a href="#">Contact Info</a>
                </li>
                <li role="presentation">
                    <a href="#">Profile Setting</a>
                </li>
                <li role="presentation">
                    <a href="#">Public View</a>
                </li>
            </ul>
        </div>

        <div class="col-md-8" id="profile-right">
            <div class="col-md-12" id="profile-right-top">
                <div class="row" id="name">
                    <span>
                        <h1>{{ profile_user.username }}</h1>
                    </span>
                </div>
                <div class="row" id="location">
                    <span>Country:&nbsp;</span>
                    <span>Unitied States &nbsp;|</span>
                    <span>&nbsp;City:&nbsp;</span>
                    <span>Pittsburgh</span>
                </div>
            </div>
            <div class="col-md-12" id="profile-right-bottom">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Full Name: </td>
                            <td>{{ profile.full_name }}</td>
                        </tr>
                        <tr>
                            <td>Profile Image: </td>
                            <td>
                                <a href="{% url 'avatar' profile.user.id %}">
                                Click to See
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Gender: </td>
                            <td>{{ profile.gender }}</td>
                        </tr>
                        <tr>
                            <td>Birthday: </td>
                            <td>{{ profile.birthday }}</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{ profile.address }}</td>
                        </tr>
                        <tr>
                            <td>Country: </td>
                            <td>{{ profile.country }}</td>
                        </tr>
                        <tr>
                            <td>City: </td>
                            <td>{{ profile.city }}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{ profile.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/profile.js"></script>
{% endblock %}