<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rich Geeks - {{project.title}}</title>

    <!-- Bootstrap Core CSS -->
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/profile.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'home' %}">
                    Rich Geeks
                  </a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="home-nav-btn">
                      <a href="{% url 'home' %}">
                        <span class="glyphicon glyphicon-home">
                        </span>
                        Geek's Bridge
                      </a>
                    </li>
                    <li class="market-nav-btn">
                      <a href="/market">
                        <span class="glyphicon glyphicon-screenshot">
                        </span>
                        Geek's Market
                      </a>
                    </li>
                    <li class="message-nav-btn">
                      <a href="/message">
                        <span class="glyphicon glyphicon-envelope">
                        </span>
                        Message
                      </a>
                    </li>
                    <li class="me-nav-btn">
                      <a href="{% url 'profile' user.id %}">
                        <span class="glyphicon glyphicon-user">
                        </span>
                        Me
                      </a>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <form class="navbar-form navbar-right search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Find projects">
                        </div>
                        <button type="submit" class="btn btn-default btn-circle">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </form>
                    </li>
                    <li>
                      <a href="#" data-toggle="modal" data-target="#loginModal">
                        Hello, {{ user.username }}
                      </a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog">
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'profile' user.id %}">My Profile</a></li>
                                <li><a href="">Edit Profile</a></li>
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                                <li class="divider"></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </span>
                      </a>
                    </li>              
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <div class="row">
                            <img src="{% url 'avatar' user.id %}" alt="avatar" class="img-circle">
                        </div>
                        <h1>{{profile_user.username}}</h1>
                        <hr class="small">
                        <!-- <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                        {% if user == profile.user %}
                        <span>
                            <a class="btn btn-info btn-lg" href="{% url 'edit' %}" role="button">Edit</a>
                        </span>
                        {% elif friend %}
                        <span>
                            <button type="button" class="btn btn-info" id="friend">Unfriend</button>
                        </span>
                        {% else %}
                        <span>
                            <button type="button" class="btn btn-info" id="friend">Add Friend</button>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

 

    <!-- Main Content -->
    <div id="wrapper">
        <div class="sidebar-nav navbar-collapse" id="sidebar">
            <ul class="nav" id="side-menu">
                <li>
                    <a class="active" href="#"><i class="fa fa-dashboard fa-fw"></i> Basic Info</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Analysis<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                        <li>
                            <a href="#" class="first">First Table</a>
                        </li>
                        <li>
                            <a href="#">Second Table</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Skills</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> History Project</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Resume</a>
                </li>
            </ul>
        </div>
        <div id="page-wrapper" class="profile-main" user={{ profile.user.id }}>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Basic Info</h1>
                    <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Full Name: </td>
                            <td>{{ profile.full_name }}</td>
                        </tr>
                        <tr>
                            <td>Profile Image: </td>
                            <td>
                                <a href="{% url 'avatar' profile.user.id %}">
                                Click to See
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Gender: </td>
                            <td>{{ profile.gender }}</td>
                        </tr>
                        <tr>
                            <td>Birthday: </td>
                            <td>{{ profile.birthday }}</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{ profile.address }}</td>
                        </tr>
                        <tr>
                            <td>Country: </td>
                            <td>{{ profile.country }}</td>
                        </tr>
                        <tr>
                            <td>City: </td>
                            <td>{{ profile.city }}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{ profile.phone }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

    <hr style="margin:0px;">

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Rich Geeks 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>
    <script src="/static/js/metisMenu.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/profile.js"></script>

</body>

</html>
