{% extends "base.html" %}
{% block title %}Rich Geeks{% endblock %}

{% block css %}
<link href="/static/css/project-apply.css" rel="stylesheet">
{% endblock %}

{% block content %}
     <div class="container">
        <div class="col-md-10">
            <h1>Give Feedback</h1>
            {% for key, error in form.errors.items %}
           		<div class="alert alert-warning" role="alert">
                <p style="color: red">
                {{ error.as_text|cut:"* " }}
                </p>
            	</div>
            {% endfor %}
            <form role="form" action="/project/evaluation/{{project_id}}" method="POST">
                <div class="form-group">
                    <label for="evaluation-rating">Rating(from 1 to 5)</label>
                    <input type="number" class="form-control" id="evaluation-rating" name="evaluation_rating" placeholder="Enter your rating">
                </div>
               <div class="form-group">
                    <label for="evaluation-text">Feedback</label>
                    <textarea type="text" class="form-control" id="evaluation-text" name="evaluation_text" placeholder="What do you want to say about the project?"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}