{% extends "base.html" %}
{% block title %}Rich Geeks{% endblock %}

{% block css %}
<link href="/static/css/project-detail.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="jumbotron">
      <div class="container">
        <h1>{{project.title}}</h1>
        <p>{{project.description}}</p>
        {% if button %}
            <p><a class="btn btn-danger btn-lg" href="/project/cancel/{{project.id}}" role="button">Cancel Project</a></p>
        {% else %}
            <p><a class="btn btn-success btn-lg" href="/project/apply/{{project.id}}" role="button">Apply Project</a></p>
            <p><a class="btn btn-success btn-lg" href="/project/feedback/{{project.id}}" role="button">FeedBack</a></p>
        {% endif %}
      </div>
    </div>


    <div class="container">
        <div class="col-md-8">
            <div class="col-md-12">
                <h2>{{project.title}}</h2>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    posted by <a>{{project.owner.user.username}}</a> on {{project.date_create}}
                </p>
                <p>{{project.description}}</p>
                <p><b>Label: </b>Django, Python, PostgreSql<br>
                <b>Reward: </b>{{project.budget}}</p>
            </div>
            <div class="col-md-12">
                <label>Owner</label>
                <img class="media-object" id="user-face" src="profile1.jpeg" alt="Profile Image">
            </div>
            <div class="col-md-12">
                <label>Participant</label>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="profile1.jpeg" alt="...">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="profile1.jpeg" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock %}