{% extends "base.html" %}
{% block title %}Rich Geeks{% endblock %}

{% block css %}
<link href="/static/css/project-detail.css" rel="stylesheet">
<link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div style="margin-top:-30px">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{project.title}}</h1>
                        <hr class="small">
                        <!-- <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                        {% if project.status == "Canceled" %}
                        	<span>
                            	<a class="btn btn-danger btn-lg" disabled="disabled" role="button">Project Canceled</a>
                        	</span>
                        {% elif owner %}
                        	{% if project.status != "Completed" %}
                        	<span>
                            	<a class="btn btn-danger btn-lg" href="/project/cancel/{{project.id}}" role="button">Cancel Project</a>
                        	</span>
                        	{% endif %}
                        	{% if project.status == "Working" %}
            					<span>
            						<a class="btn btn-success btn-lg" href="/project/finish/{{project.id}}" role="button">Project Complete</a>
            					</span>
            				{% endif %}
                        {% else %}
                        	{% if project.status == "New" or project.status == "Open" %}
                        	<span>
                            	<a class="btn btn-success btn-lg" href="/project/apply/{{project.id}}" role="button">Apply Project</a>
                        	</span>
                        	{% endif %}
                        	<span>
                            	<a class="btn btn-success btn-lg" href="/project/feedback/{{project.id}}" role="button">FeedBack</a>
                        	</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Main Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a>
                        <h2 class="post-title">
                            {{project.title}}
                        </h2>
                    </a>
                        <h3 class="post-subtitle">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </h3>

                    <p class="post-meta">Posted by <a href=/profile/{{project.owner.user.id}}>{{project.owner.user.username}}</a> on {{project.date_create}}</p>
                <p><b>Description: </b>{{project.description}}</p>
                <p><b>Languages: </b>{% for language in project.languages.all %}{{language.language}}, {% endfor %}</p>
                <p><b>Category: </b>{{project.category}}</p>
                <p><b>Award: </b>{{project.budget}}</p>
                <div class="row">
                	<div class="col-md-6">
                		<p><b>Owner: </b><a style="text-align: center" href=/profile/{{project.owner.user.id}}>{{project.owner.user.username}}</a></p>
                    	<img src="{% url 'avatar' project.owner.user.id %}" alt="avatar" class="img-circle">
               		</div>
                	{% if project.assignee %}
                	<div class="col-md-6">
                		<p><b>Participants: </b><a href=/profile/{{project.assignee.user.id}}>{{project.assignee.user.username}}</a></p>
                        <img src="{% url 'avatar' project.assignee.user.id %}" alt="avatar" class="img-circle">
                        
                    </div> 
                    {% endif %}                
                </div>
                </div>
                

        </div>
    </div>
 </div>
 </div>
{% endblock %}