{% extends "base.html" %}
{% block title %}Rich Geeks{% endblock %}

{% block css %}
<link href="/static/css/project-apply.css" rel="stylesheet">
{% endblock %}

{% block content %}
     <div class="container">
        <div class="col-md-10">
            <h1>Apply Project</h1>
            {% for key, error in form.errors.items %}
            <div class="alert alert-warning" role="alert">
                <p style="color: red">
                    {{ error.as_text|cut:"* " }}
                </p>
            </div>
            {% endfor %}
            <form role="form" action="/project/apply/{{project_id}}" method="POST">
                <div class="form-group">
                    <label for="experience-des">Description Experience</label>
                    <textarea type="text" class="form-control" id="experience-des" name="description_experience" placeholder="Description Experience"></textarea>
                    <input type="file" id="experience-des-file" name="proposal_file">
                    <p class="help-block">Add a description/proposal attachment</p>
                </div>
                <div class="form-group">
                    <label for="expect-earning">Expect Earning</label>
                    <input type="number" class="form-control" id="expect-earning" name="expected_earning" placeholder="Expect Earning Per Hour">
                </div>
                <div class="form-group">
                    <label for="expect-time">Expect Time</label>
                    <input type="number" class="form-control" id="expect-time" name="expected_time" placeholder="Expect Time Per Week">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}