			<li class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="/static/img/profile1.jpeg"  height="64" width="64">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="{% url 'profile' news_feed.user_profile.user.id %}">{{news_feed.user_profile.user.username}}</a>
						has posted a new project:
					</h4>
					<div class="media">
						<div class="media-body">
							<a href="/project/{{news_feed.project.id}}"><h4 class="media-heading">{{news_feed.project.title}}</h4></a>
							<p>{{news_feed.project.description}}</p>
                			<p><b>Languages: </b>{% for language in news_feed.project.languages.all %}{{language.language}}, {% endfor %}<br>
                			<b>Reward: </b>{{news_feed.project.budget}}</p>
						</div>
					</div>
					<div class="bottom">
						<a href="/news_feed/like/{{news_feed.id}}">
							<span class="glyphicon glyphicon-thumbs-up">
								{{news_feed.like_count}}
							</span>
						</a>
						<a href="/news_feed/dislike/{{news_feed.id}}">
							<span class="glyphicon glyphicon-thumbs-down">
								{{news_feed.dislike_count}}
							</span>
						</a>
						<span style="float:right">
							{{news_feed.event_date}}
						</span>
					</div>
				</div>
			</li>
			<hr>