			<li class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="/avatar/{{news_feed.user_profile.user.id}}"  height="64" width="64">
				</a>
				<div class="media-body">
					<h4 class="media-heading"><b>Congratulations:</b></h4>
					<h4 class="media-heading" style="width:600px">
						<a href="#">{{news_feed.user_profile.user.username}}</a>
						has finished the project:
					</h4>
					<div class="media">
						<div class="media-body">
							<a href="/project/{{news_feed.project.id}}"><h4 class="media-heading">{{news_feed.project.title}}</h4></a>
							<p>{{news_feed.project.description}}</p>
						</div>
					</div>
					<div class="bottom">
						<a href="/news_feed/like/{{news_feed.id}}">
							<span class="glyphicon glyphicon-thumbs-up">
								{{news_feed.like_count}}
							</span>
						</a>
						<a href="/news_feed/dislike/{{news_feed.id}}">
							<span class="glyphicon glyphicon-thumbs-down">
								{{news_feed.dislike_count}}
							</span>
						</a>
						<span style="float:right">
							{{news_feed.event_date}}
						</span>
					</div>
				</div>
			</li>
			<hr>