			<li class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="/avatar/{{news_feed.user_profile.user.id}}"  height="64" width="64">
				</a>
				<div class="media-body">
					<h4 class="media-heading" style="width:600px">
						<a href="{% url 'profile' news_feed.user_profile.user.id %}">{{news_feed.user_profile.user.username}}</a>
						:
					</h4>
					<div class="media">
						<div class="media-body">
							<p>{{news_feed.text}}</p>
						</div>
					</div>
					{% if news_feed.image %}
						<img alt="image" height="200" style="margin-bottom:20px" src="/news_feed/photo/{{news_feed.id}}">
					{% endif %}
					<div class="bottom">
						<a href="/news_feed/like/{{news_feed.id}}">
							<span class="glyphicon glyphicon-thumbs-up">
								{{news_feed.like_count}}
							</span>
						</a>
						<a href="/news_feed/dislike/{{news_feed.id}}">
							<span class="glyphicon glyphicon-thumbs-down">
								{{news_feed.dislike_count}}
							</span>
						</a>
						<span style="float:right">
							{{news_feed.event_date}}
						</span>
					</div>
				</div>
			</li>
			<hr>